.my-navbar {
  background-color: #2c3e50;
}

.start,
.about {
  background-color: #1abc9c;
}
.start img {
  width: 240px;
}
.start hr {
  width: 120px;
  transform: translatey(10px);
  border: 3px solid white;
}

.portfolio hr {
  width: 120px;
  transform: translatey(10px);
  border: 3px solid #2c3e50;
}
.start-custom-line {
  position: relative;
}
.start-custom-line::before,
.about-custom-line::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color: white;
  top: 50%;
  left: -140px;
}

.start-custom-line::after,
.about-custom-line::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color: white;
  top: 50%;
  left: 60px;
}

.portfolio,
.contact {
  color: #2c3e50;
}
.portfolio-custom-line {
  position: relative;
}
.contact-custom-line {
  position: relative;
}

.portfolio-custom-line::before,
.contact-custom-line::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color: #2c3e50;
  top: 50%;
  left: -140px;
}

.portfolio-custom-line::after,
.contact-custom-line::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color: #2c3e50;
  top: 50%;
  left: 60px;
}

.portfolio-img {
  height: 288px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.about-custom-line {
  position: relative;
}

.about .btn-custom-hover:hover {
  background-color: white;
}

.contact .my-btn {
  background-color: #1abc9c;
  transform: translateX(-440px);
}

.contact .my-btn:hover {
  background-color: #1abc9c;
}

.my-footer{
  background-color: #2c3e50; 
}